.content-card {
    background: var(--light-color);
    padding: 1.25rem;
    margin: 0.75rem 0;
    border-radius: var(--border-radius-md);
    box-shadow: var(--shadow-md);
    transition: var(--transition);
    border-left: 4px solid var(--primary-color);
}

.colored {
    background: #a9acb6;
}
.content-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.content-name {
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: var(--secondary-color);
}

.content-card .btn-group {
    color: #666;
    display: flex;
    font-size: 0.9rem;
    line-height: 1.5;
    position : absolute;
    left: 80%;
    bottom: 1.2rem;
    visibility: hidden;
    gap: 1rem;
}

.content-card:hover .btn-group {
    visibility: visible;
}

.btn-group .content-btn{

}

