.button {
    position: absolute;
    right: 30px;
    border: none;
    width: 12%;
    height: 6%;
    background-color: #a30c0c;
    border-radius: 15px;
    cursor: pointer;
    color: #f4faff;
}

.button:hover {
    background-color: #ef1414;
}